{% extends "base.html.twig" %}

{% block body %}
<section class="container">
    <h1 class="text-center">Ajouter un élève</h1>
    {{form_start(formAddEleve)}}
        <div class="form-wrap">
            <div>
                {{form_row(formAddEleve.nom)}}
                {{form_row(formAddEleve.prenom)}}
                {{form_row(formAddEleve.nomUsage)}}
                {{form_row(formAddEleve.genre)}}
            </div>
            <div>
                {{form_row(formAddEleve.anniversaire)}}
                {{form_row(formAddEleve.droitImage)}}
                {{form_row(formAddEleve.classe)}}
            </div>
        </div>
        {{form_row(formAddEleve.submit)}}
    {{form_end(formAddEleve)}}
</section>

{% endblock %}