{% extends 'base.html.twig' %}

{% block title %} Détail de {{eleve}} {% endblock %}

{% block body %}

<section class="container">
    <h1>Détail de {{eleve}}</h1>
    <ul>
        <li>nom : {{eleve.nom}}</li>
        <li>nom d'usage : {{eleve.nomUsage}}</li>
        <li>prenom : {{eleve.prenom}}</li>
        <li>genre : {{eleve.getGenre()}}</li>
        <li>date anniversaire : {{ eleve.getJourAnnivEleve()}}</li>
        <li>classe : {{ eleve.classe}}</li>
        <li>droit à l'image: {{eleve.getDroitImage()}}</li>

    </ul>
    <hr>

    <a class="button" href="{{ path('bulletin_add', {'id_eleve':eleve.id})}}">Bulletin</a>
</section>

{% endblock %}