{% block homecard %}
    <div class="homecard">
        <a href="{{ path('app_competence') }}"> #</a>
    </div>

    <div class="homecard">
        <a href="{{ path('app_competence') }}"> #</a>
    </div>

    <div class="homecard">
        <a href="{{ path('app_competence') }}"> #</a>
    </div>

    <div class="homecard">
        <a href="{{ path('app_competence') }}">#</a>
    </div>

    <div class="homecard">
        <a href="{{ path('app_competence') }}"> #</a>
    </div>

    <div class="homecard">
        <a href="{{ path('app_competence') }}"> #</a>
    </div>
{% endblock %}