
    {% block homecard %}
        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Ma classe</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Mes activités</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Mes compétences</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Mes feuilles de route</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_parents') }}"> Ma liste parents</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Mon profil</a>
        </div>
    {% endblock %}