
    {% block homecard %}
        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Ma Famille</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Mon profil</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Les activités</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Fiche info Enseignants</a>
        </div>

        <div class="homecard">
            <a href="{{ path('app_competence') }}"> Feuille de route</a>
        </div>

    {% endblock %}