{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

    <main>
        <section class="container">
            <p>Mon profil {{ app.user.stringRoles }} - Année {{ "now"|date_modify("-1 year")|date("Y") }}
                /{{ "now" | date("Y") }}</p>
            <h1>Bienvenue <span class="text-primary"></span>{{ app.user.prenom }}</h1>
            <article class="homebox">
                {% block homecard %}

                    <a href="{{ path('app_classe') }} " class="homecard">
                        <p>Les classes</p>
                    </a>

                    <a href="{{ path('app_eleve')}}" class="homecard">
                         <p>Les élèves</p>
                    </a>

                    <a href="{{ path('app_bulletin') }}" class="homecard">
                        <p>Les bulletins</p>
                    </a>

                    <a href="{{ path('app_groupe_consignes') }}" class="homecard">
                        <p> Les groupes de consignes</p>
                    </a>

                    <a href="{{ path('app_groupe_competences') }}" class="homecard">
                        <p> Les groupes de compétences</p>
                    </a>
                    <a href="{{ path('app_feuille_route') }}" class="homecard">
                        <p> Les feuilles de route</p>
                    </a>
                    <a href="{{ path('app_activite') }}" class="homecard">
                        <p> Les activités</p>
                    </a>
                {% endblock %}
            </article>
        </section>
    </main>

{% endblock %}

