{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

    <main>
        <section class="container">
            <p>Mon profil {{ app.user.stringRoles }} - Année {{ "now"|date_modify("-1 year")|date("Y") }}
                /{{ "now" | date("Y") }}</p>
            <h1>Bienvenue <span class="text-primary"></span>{{ app.user.prenom }}</h1>
            <article class="homebox">

                {% if app.user.classe is null %}
                    <a href="#" class="homecard bg-1">
                        <p> Pas encore de classe</p>
                    </a>
                {% else %}
                    <a href="{{ path('show_ma_classe', {id: app.user.classe.id})}}" class="homecard bg-1">
                        <p> Ma classe</p>
                    </a>
                {% endif %}

                <a href="{{ path('app_activite') }}" class="homecard bg-2">
                    <p> Mes activités</p>
                </a>

                <a href="{{ path('app_groupe_competences') }}" class="homecard bg-3">
                    <p> Mes groupes de competences</p>
                </a>

                <a href="{{ path('app_bulletin') }}" class="homecard bg-3">
                    <p> Mes bulletins</p>
                </a>

                <a href="{{ path('app_feuille_route') }}" class="homecard bg-4">
                    <p> Mes feuilles de route</p>
                </a>

            </article>
            {% include 'home/_contact.html.twig' %}
        </section>
    </main>
{% endblock %}
