{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

    <main>
        <section class="container">
            <p>Mon profil {{ app.user.stringRoles }} - Année {{ "now"|date_modify("-1 year")|date("Y") }}
                /{{ "now" | date("Y") }}</p>
            <h1>Bienvenue <span class="text-primary"></span>{{ app.user.prenom }}</h1>
            <article class="homebox">

                <a href="{{ path('app_classe') }}" class="homecard">
                    <p> Ma classe</p>
                </a>

                <a href="{{ path('app_activite') }}" class="homecard">
                    <p> Mes activités</p>
                </a>

                <a href="{{ path('app_competence') }}" class="homecard">
                    <p> Mes compétences</p>
                </a>

                <a href="{{ path('app_competence') }}" class="homecard">
                    <p> Mes feuilles de route</p>
                </a>

                <a href="{{ path('app_parents') }}" class="homecard">
                    <p> Ma liste parents</p>
                </a>

                <a href="{{ path('app_competence') }}" class="homecard">
                    <p> Mon profil</p>
                </a>

            </article>
            {% include 'home/_contact.html.twig' %}
        </section>
    </main>
{% endblock %}
