{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

    <main>
        <section class="container">

            <p>Mon profil {{ app.user.stringRoles }} - Année {{ "now"|date_modify("-1 year")|date("Y") }}
                /{{ "now" | date("Y") }}</p>
            <h1>Bienvenue <span class="text-primary"></span>{{ app.user.prenom }}</h1>
            <article class="homebox">

                <a href="{{ path('app_eleve') }}" class="homecard">
                    <p> Ma famille #</p>
                </a>

                <a href="{{ path('show_user', {'id': app.user.id}) }}" class="homecard">
                    <p> Mon profil</p>
                </a>

                <a href="{{ path('app_activite') }}" class="homecard">
                    <p> Les activités</p>
                </a>

                <a href="{{ path('app_enseignants') }}" class="homecard">
                    <p> Fiche info Enseignants#</p>
                </a>

                <a href="{{ path('app_feuille_route') }}" class="homecard">
                    <p> Feuille de route</p>
                </a>

            </article>
            {% include 'home/_contact.html.twig' %}
        </section>
    </main>
{% endblock %}
