{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

    <main>
        <section class="container">

            <p>Mon profil {{ app.user.stringRoles }} - Année {{ "now"|date_modify("-1 year")|date("Y") }}
                /{{ "now" | date("Y") }}</p>
            <h1>Bienvenue <span class="text-primary"></span>{{ app.user.prenom }}</h1>
            <article class="homebox">

                <div class="homecard">
                    <a href="{{ path('app_eleve') }}"> Ma famille #</a>
                </div>

                <div class="homecard">
                    <a href="{{ path('show_user', {'id': app.user.id}) }}"> Mon profil</a>
                </div>

                <div class="homecard">
                    <a href="{{ path('app_activite') }}"> Les activités</a>
                </div>

                <div class="homecard">
                    <a href="{{ path('app_enseignants') }}"> Fiche info Enseignants#</a>
                </div>

                <div class="homecard">
                    <a href="{{ path('app_feuille_route') }}"> Feuille de route</a>
                </div>

            </article>
            {% include 'home/_contact.html.twig' %}
        </section>
    </main>
{% endblock %}
