{% extends 'base.html.twig' %}

{% block title %}Liste des competences{% endblock %}

{% block body %}
    <div class="container">
        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Liste des compétences </span> - {{ "now"|date("d/m/Y")}}</p>
                <h1>Liste des competences</h1>
            </div>
            <a class="button" href="{{ 'competence/add' }}"><i class="fa-solid fa-plus"></i></a>
        </div>

        {% for competence in competences %}
            <a href="{{ path('show_competence', {'id':competence.id}) }}">{{competence.libelle}}</a><br>
            <a class="" href="{{ path('update_competence', {'id': competence.id}) }}">Éditer</a>
            <a class="" href="{{ path('delete_competence', {'id': competence.id}) }}">Delete</a> <br>
        {% endfor %}
    </div>

{% endblock %}
