

{% extends 'base.html.twig' %}

{% block title %}Bulletin{% endblock %}

{% block body %}
    <div class="container">
        <div class="index-controls">
        <div>
            <p class="fil-ariane"><span>Listes des bulletins</span> - {{ "now"|date("d/m/Y")}}</p>
            <h1>Mes bulletins</h1>
        </div>
        <a class="button" href="{{ path('app_eleve') }}"><i class="fa-solid fa-plus"></i> Ajouter un bulletin à un élève</a>
    </div>

        <table class="table">
            <thead>
            <tr>
                <th class="taille-3">Bulletin par Élèves</th>
                <th class="taille-1">Éditer le bulletin</th>
            </tr>
            </thead>

            <tbody>
            {% for bulletin in bulletins %}
                <tr class="table-row">
                    <td class="table-description taille-3">
                        <ul>
                            <li><span class="pills">{{bulletin.trimestre}}</span></li>
                            <li class="taille-2"><a href="{{ path('show_eleve', {'id': bulletin.eleve.id}) }}"> Bulletin de {{bulletin.eleve}}</a></li>
                            <li><span class="taille-2">Crée le : {{bulletin.getDate() |format_datetime( locale='fr')}} </span></li>
                        </ul>
                    </td>
                    <td class="table-action taille-1">
                        <a title="éditer le bulletin" class="button btn-small btn-update" href="{{ path('show_bulletin', {'id': bulletin.id}) }}  "> <i class="fa-solid fa-eye"></i> Consulter</a>
                        <a title="supprimer le bulletin" class="button btn-small btn-delete" href="{{ path('delete_bulletin', {'id': bulletin.id}) }}"> <i class="fa-solid fa-trash"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



