{% extends 'base.html.twig' %}

{% block title %} Détail du {{bulletin.eleve}} {% endblock %}

{% block body %}

    <section class="container">
        <h1>Détail de {{bulletin}}</h1>
        <ul>
            <li>eleve : {{bulletin.eleve}}</li>
            <li>trimestre : {{bulletin.trimestre}}</li>
            {%  for gc in bulletin.bulletinGroupeCompetences%}
                {{ gc }}
            {% endfor %}
        </ul>
        <hr>

        <a class="button" href="{{ path('bulletin_add', {'id_eleve':eleve.id})}}">Bulletin</a>
    </section>

{% endblock %}

