{% extends 'base.html.twig' %}

{% block title %} Détail du {{bulletin.eleve}} {% endblock %}

{% block body %}

    <section class="container">
        <article>
        <h1>Détail de {{bulletin}}</h1>
        <ul>
            <li>eleve : {{bulletin.eleve}}</li>
            <li>trimestre : {{bulletin.trimestre}}</li>
        </ul>
        </article>
        <article>
        {% for bgc in bulletin.bulletinGroupeCompetences %}
            <div>
            <h3>{{ bgc.groupeCompetences.titre }}</h3>
            {% for competence in bgc.groupeCompetences %}
                <p>{{ competence }}</p>
                <hr>
            {% endfor %}
            </div>
        {% endfor %}
        </article>
        <a class="button" href="{{ path('bulletin_add', {'id_eleve':eleve.id})}}">Bulletin</a>
    </section>

{% endblock %}

