{% extends "base.html.twig" %}

{% block body %}
    <section class="container form-page">
        <p class="fil-ariane">
            <span><a href="{{ path('app_feuille_route') }}">Toutes les feuille de routes</a></span>
            <span>Semaine {{ feuilleRoute.getSemaine() }}</span> -
            {{feuilleRoute.getDates()}}
        </p>

        <h1>Ajouter une feuille de route</h1>
        {{ form_start(formAddFeuilleRoute) }}
        {{ form_row(formAddFeuilleRoute.dateDebut) }}
        {{ form_row(formAddFeuilleRoute.dateFin) }}
        {{ form_row(formAddFeuilleRoute.semaine) }}
        {{ form_row(formAddFeuilleRoute.eleve) }}

        {% if feuilleRoute is defined and feuilleRoute.id is not empty %}
        <div>
        <a class="button" href="{{ path('feuille_route/list_activite', {'id': feuilleRoute.id}) }}">Ajouter une activité</a>
        </div>
        {% endif %}

        <div class="form-checkbox">
            {{ form_widget(formAddFeuilleRoute.validation) }}
        </div>
        <div>
            {{ form_row(formAddFeuilleRoute.image) }}
            {# On affiche les image si on est en edition #}
            {% if app.request.get('_route') ==  'update_feuille_route' %}
                <h2>Image</h2>
                <div class="flex wrap">
                    {% for image in feuilleRoute.images %}
                        <div class="mr-2">
                            <img src="{{ asset('assets/uploads/feuilleRoute/mini/200x200-'~ image.nom) }}"
                                 alt="{{ feuilleRoute }}"
                                 width="200px" height="200px"/>
                            <a class="button btn-small btn-delete" href="{{ path('feuille_route/delete_image', {id: image.id}) }}">Supprimer</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form_end(formAddFeuilleRoute) }}
    </section>

{% endblock %}