{% extends "base.html.twig" %}

{% block body %}
    <section class="container form-page">
        <h1>Ajouter une feuille de route</h1>
        {{form_start(formAddFeuilleRoute)}}
            {{form_row(formAddFeuilleRoute.dateDebut)}}
            {{form_row(formAddFeuilleRoute.dateFin)}}
            {{form_row(formAddFeuilleRoute.semaine)}}
            <div class="form-checkbox">
                {{ form_label(formAddFeuilleRoute.validation) }}
                {{ form_widget(formAddFeuilleRoute.validation) }}
            </div>
        {{form_end(formAddFeuilleRoute)}}
    </section>

{% endblock %}