{% extends 'base.html.twig' %}

{% block title %}Feuille de route{% endblock %}

{% block body %}
    <div class="container">

        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Activité pour "user/maitresse/classe/niveau"</span> - {{ "now"|date("d/m/Y")}}</p>
                <h1>Mes feuille de routes</h1>
            </div>
            <a class="button" href="{{ 'activite/add' }}"><i class="fa-solid fa-plus"></i></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Élèves</th>
                    <th>Semaine</th>
                    <th>Dates</th>
                    <th>Validée</th>
                    <th>Édition</th>
                </tr>
            </thead>
            <tbody>
                {% for feuille_route in feuille_routes %}
                    <tr>
                        <td>
                            <a href="{{ path('show_feuille_route', {'id': feuille_route.id}) }}">{{feuille_route}}</a>
                        </td>
                        <td>
                            {{feuille_route.getSemaine()}}
                        </td>
                        <td>
                            {{feuille_route.getDates()}}
                        </td>
                        <td>
                            {{feuille_route.afficheValidation()}}
                        </td>
                        <td class="flex wrap justify-center">
                            <a title="éditer la feuille de route" class="button btn-small btn-update" href="{{ path('update_feuille_route', {'id': feuille_route.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Éditer</a>
                            <a title="supprimer la feuille de route" class="button btn-small btn-delete" href="{{ path('delete_feuille_route', {'id': feuille_route.id}) }}"><i class="fa-solid fa-trash"></i> Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}