{% extends 'base.html.twig' %}

{% block title %}Feuille de route{% endblock %}

{% block body %}
    <main class="container">
        <h1>Feuille de route</h1>

        {% for feuille_route in feuille_routes %}
            <a href="{{ path('show_feuille_route', {'id': feuille_route.id}) }}">{{feuille_route.getDates()}}</a> <br>
            <a class="" href="{{ path('update_feuille_route', {'id': feuille_route.id}) }}">Éditer</a>
            <a class="" href="{{ path('delete_feuille_route', {'id': feuille_route.id}) }}">Delete</a> <br>

        {% endfor %}
        {{ dump(feuille_routes) }}
    </main>

{% endblock %}