{% extends 'base.html.twig' %}

{% block title %}Feuille de route{% endblock %}

{% block body %}
    <div class="container">

    <div class="index-controls">
        <div>
            <p class="fil-ariane"><span>Activité pour "user/maitresse/classe/niveau"</span>
                - {{ "now"|date("d/m/Y") }}</p>
            <h1>Mes feuille de routes</h1>
        </div>
        <a class="button" href="{{ 'feuille_route/add' }}"><i class="fa-solid fa-plus"></i></a>

    </div>
    {#
    <div>
        <h2>filtre</h2>
        <a class="button btn-small btn-update" href="">semaine</a>
        <a class="button btn-small btn-update" href="">Validée</a>
        <a class="button btn-small btn-update" href="">Non validée</a>
    </div>
    #}

    {% if feuilleRoutes %}
        <table class="table">
            <thead>
            <tr>
                <th class="taille-3">Feuille de route par élèves</th>
                <th class="taille-1">Éditer</th>
            </tr>
            </thead>
            <tbody>

            {% for feuilleRoute in feuilleRoutes %}
                <tr>
                    <td class="taille-3">
                        <ul>
                            <li class="taille-1">
                                <span class="pills">Semaine {{ feuilleRoute.getSemaine() }}</span>
                            </li>
                            <li class="taille-2">
                                <a href="{{ path('show_feuille_route', {'id': feuilleRoute.id}) }}">{{ feuilleRoute }}</a>
                            </li>
                            <li class="taille-2">
                                <span>Éditée le : {{ feuilleRoute.getDates() }}</span>
                            </li>
                        </ul>
                    </td>

                    <td class="taille-1">
                        <ul>
                            <li class="taille-1">
                                <a title="éditer la feuille de route" class="button btn-small btn-update"
                                   href="{{ path('update_feuille_route', {'id': feuilleRoute.id}) }}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a title="supprimer la feuille de route" class="button btn-small btn-delete"
                                   href="{{ path('delete_feuille_route', {'id': feuilleRoute.id}) }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </li>
                            <li class="taille-1">
                                {% if feuilleRoute.isValidation() == true %}
                                    <a title="supprimer la feuille de route" class="button btn-small btn-update"
                                       href="{{ path('invalider_feuille_route', {'id': feuilleRoute.id}) }}">
                                        validée
                                    </a>
                                {% elseif feuilleRoute.isValidation() == false %}
                                    <a title="supprimer la feuille de route" class="button btn-small btn-delete"
                                       href="{{ path('valider_feuille_route', {'id': feuilleRoute.id}) }}">
                                        non-validée
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <div>
            pas de feuille de route dispo !
        </div>
    {% endif %}
{% endblock %}

{#
<form method="post" class="validation-button" action="{{ path('valider_feuille_route' , {'id': feuille_route.id}) }}">
    <label>
        {% if feuille_route.isValidation() == true %}
            <input class="submit-on-click" type="radio" name="feuille_route_valide" value="true" checked>
            Validée
        {% elseif feuille_route.isValidation() == false %}
            <input type="radio" name="feuille_route_non_valide" value="false">
            Non-validée
        {% endif  %}
    </label>
</form>
#}