{% extends 'base.html.twig' %}

{% block title %} {{feuilleRoute}}{% endblock %}

{% block body %}

    <section class="container">
        <h2>{{feuilleRoute}}</h2>
        <hr>
        <div>
            {% for activite in feuilleRoute.activites %}
                {{ activite }}<br>
                <a href="{{ path('remove_activite', {'feuilleRoute': feuilleRoute.id , 'activite': activite.id}) }}">Supprimer</a>
            {%endfor %}
        </div>
        <hr style="border-color:red">
        <div>
            {% for na in nonActivite %}
                {{ na }}<br>
                <a href="{{ path('add_activite', {'feuilleRoute': feuilleRoute.id , 'activite': na.id}) }}">Ajouter</a>

                <hr>
            {%endfor %}
        </div>

    </section>
    {#
    #}
{% endblock %}