{% extends 'base.html.twig' %}

{% block title %} Détail de la feuille de route {% endblock %}

{% block body %}

    <section class="container">
        <p class="fil-ariane">
            <span><a href="{{ path('app_feuille_route') }}">Toutes les feuilles de routes</a></span> >
            {{ feuilleRoute.getDates() }}
        </p>
        <div class="feuille-route-titre flex justify-between wrap">
            <div>
                <h1><span>Semaine {{ feuilleRoute.getSemaine() }}</span> > Feuille de route de <a
                            href=" {{ path('show_eleve', {'id': feuilleRoute.eleve.id}) }}">{{ feuilleRoute.eleve }}</a>
                </h1>
            </div>
            <nav>
                <a class="button btn-small btn-update" href="{{ path('update_feuille_route', {id: feuilleRoute.id}) }}"><i></i>Modifier</a>
                <a class="button btn-small btn-delete" href="{{ path('delete_feuille_route', {id: feuilleRoute.id}) }}"><i></i>Supprimer</a>
            </nav>

        </div>
        <article>
            {# activités #}
            {% for activite in feuilleRoute.getActivites() %}
            <div>
                <h2 class="detail-activite-titre">Détail de <a
                            href="{{ path('show_activite', {'id': activite.id}) }}">{{ activite.titre }}</a></h2>
                <div class="show-activite-box">
                    <div class=" show-activite-imgbox">
                        {% for image in activite.images %}
                            <figure class="show-activite-figure">
                                <img src="{{ asset('assets/uploads/activite/'~ image.nom) }}"
                                     alt="img logique"/>
                            </figure>
                        {% endfor %}
                    </div>
                    <div class="show-activite-consignes">
                        <h3 class="filet-titre">Consignes</h3>
                        <ul>
                            {% for consigne in activite.groupeconsignes.consignes %}
                                <li>{{ consigne.libelle }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="show-activite-competences">
                        <h3 class="filet-titre">Compétences</h3>
                        <div>
                            <ul>
                                {% for competences in activite.groupescompetences %}
                                    <li><h3>{{ competences.titre }}</h3></li>
                                    {% for competence in competences.competences %}
                                        <li>{{ competence.libelle }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>

{% endblock %}