{% extends 'base.html.twig' %}

{% block title %}Liste des élèves de l'école!{% endblock %}

{% block body %}
    <section class="container">

        <article class="index-controls">
            <div>
                <p class="fil-ariane"><span>Activité pour "user/maitresse/classe/niveau"</span> - {{ "now"|date("d/m/Y")}}</p>
                <h1>Liste des classes de l'école</h1>
            </div>
            <a class="button" href="{{ 'classe/add' }}"><i class="fa-solid fa-plus"></i></a>
        </article>

        <article class="listbox">
            {% for classe in classes %}
                <div class="listcard">
                    <a class='listcard-button button btn-delete' href="{{ path('delete_classe', {'id': classe.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    <ul>
                        <li><a href="{{ path('show_classe', {'id': classe.id}) }}" > Classe {{ classe.libelle }}</a></li>
                        <li><span>Niveau : </span>{{classe.getNiveau}}</li>
                        <li><span>Enseignants : </span>{{classe.getNomEnseignants()}}</li>
                        <li><span>Nombre d'élèves : </span>{{classe.countEleves()}}</li>
                    </ul>

                    <div class="listcard-controls">
                        <a class="listcard-button button btn-update" href="{{ path('update_classe', {'id': classe.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Infos</a>
                        <a class="listcard-button button btn-update" href="{{ path('nonEleve', {'id': classe.id}) }}"><i class="fa-solid fa-pen-to-square"></i> élèves</a>
                    </div>
                </div>
            {% endfor %}
        </article>

    </section>
    
{% endblock %}