{% extends 'base.html.twig' %}

{% block title %} La classe {% endblock %}

{% block body %}

<section class="container">
    <p class="breadcrump">{{classe.niveau}} - Année {{ "now" | date('Y') }}</p>
    <h1>{{classe}}</h1>
    <hr>
    <article class="class-box">
    {% for eleve in eleves %}
        <a href="{{ path('show_eleve', {'id':eleve.id}) }}" class="card-eleve">
            <figure>
                <img src="http://placekitten.com/300/300" alt="test"/>
            </figure>
            <ul>
                <li>Élève : <span>{{ eleve }}</span></li>
                <li>Anniversaire : <span>{{ eleve.getJourAnnivEleve() }}</span></li>
                <li>Droit à l'image: <span>{{eleve.getDroitImage()}}</span></li>
            </ul>
        </a>
    {% endfor %}
    </article>
    <a class="button" href="{{ path('show_nonEleve', {'id':eleve.id})) }}"></a>

</section>

{% endblock %}