<ul>
    <li>
        <a href="{{ path('app_famille') }}">Home</a>
    </li>
    <li>
        <a href="{{ path('app_famille') }}">Ma famille</a>
    </li>
    <li>
        <a href="{{ path('app_activite') }}">Les activités</a>
    </li>
    <li>
        <a href="{{ path('show_user', {'id': app.user.id}) }}">Fiche info enseignant</a>
    </li>
    <li>
        <a href="{{ path('app_feuille_route') }}">Feuille de route</a>
    </li>
</ul>
