<ul>
    <li>
        <a href="{{ path('app_home') }}">Home</a>
    </li>
    <li>
        <a href="{{ path('app_user') }}">Tous les utilisateurs</a>
    </li>
    <li>
        <a href="{{ path('app_parents') }}">Tous les parents</a>
    </li>
    <li>
        <a href="{{ path('app_enseignants') }}">Tous les enseignants</a>
    </li>
    <li>
        <a href="{{ path('app_eleve') }}">Voir les élèves</a>
    </li>

</ul>

