<ul>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-house"></i></span>
        <a href="{{ path('app_home') }}">Home</a>
    </li>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-users"></i></span>
        <a href="{{ path('app_user') }}">Tous les utilisateurs</a>
    </li>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-users"></i></span>
        <a href="{{ path('app_parents') }}">Tous les parents</a>
    </li>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-user-graduate"></i></span>
        <a href="{{ path('app_enseignants') }}">Tous les enseignants</a>
    </li>
    <li>
        <span class="navpanel-icon"><i class="fa-solid fa-children"></i></span>
        <a href="{{ path('app_eleve') }}">Voir les élèves</a>
    </li>

</ul>

