
<ul>
    <li>
        <a href="{{ path('app_home') }}" title="Lien vers la home">
            <span class="navpanel-icon"><i class="fa-solid fa-house"></i></span>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="{{ path('app_user') }}" title="Lien vers les utilisateurs">
            <span class="navpanel-icon"><i class="fa-solid fa-users"></i></span>
            <span>Tous les utilisateurs</span>
        </a>
    </li>
    <li>
        <a href="{{ path('app_parents') }}" title="Lien vers les parents">
            <span class="navpanel-icon"><i class="fa-solid fa-users"></i></span>
            <span>Tous les parents</span>
        </a>
    </li>
    <li>
        <a href="{{ path('app_enseignants') }}" title="Lien vers les enseignants">
            <span class="navpanel-icon"><i class="fa-solid fa-user-graduate"></i></span>
            <span>Tous les enseignants</span>
        </a>
    </li>
    <li>
        <a href="{{ path('app_eleve') }}" title="Lien vers les élèves">
            <span class="navpanel-icon"><i class="fa-solid fa-children"></i></span>
            <span>Voir les élèves</span>
        </a>
    </li>

</ul>

