<header>
    <nav class="navbar">
        <div class="nav-desktop">
            <hr>
            {% if is_granted('ROLE_ADMIN') %}
                <ul>
                    <li>
                        <a href="{{ path('app_user') }}">Voir les utilisateurs</a>
                    </li>
                    <li>
                        <a href="{{ path('app_classe') }}">Voir les classes</a>
                    </li>
                    <li>
                        <a href="{{ path('app_eleve') }}">Voir les élèves</a>
                    </li>
                </ul>
            {% elseif is_granted('ROLE_ENS') %}
                <ul>
                    <li>
                        <a href="{{ path('app_classe') }}">Voir ma classe</a>
                    </li>
                    <li>
                        <a href="{{ path('app_activite') }}">Voir mes activités</a>
                    </li>
                    <li>
                        <a href="{{ path('app_competence') }}">Voir mes compétences</a>
                    </li>
                </ul>
            {% elseif is_granted('ROLE_PARENT') %}
                <ul>
                    <li>
                        <a href="{{ path('app_eleve') }}">Ma famille #</a>
                    </li>
                    <li>
                        <a href="{{ path('show_user', {'id': app.user.id}) }}">Voir mon profil</a>
                    </li>
                    <li>
                        <a href="mailto:#">Contacter la maitresse#</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="nav-mobile">
            <button class="navbar-toogle" onclick="navShow()"><span><i class="fa-solid fa-bars"></i></span></button>
        </div>
    </nav>
</header>
