{% extends 'base.html.twig' %}

{% block title %}Liste des élèves de l'école!{% endblock %}

{% block body %}
    <main class="container">

        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Liste des groupes de consignes </span> - {{ "now"|date("d/m/Y")}}</p>
                <h1>Groupe de consignes</h1>
            </div>
            <a class="button" href="{{ 'groupe_consignes' }}"><i class="fa-solid fa-plus"></i></a>
        </div>

        {% for groupe in groupe_consignes %}
            <a href="{{ path('show_groupe_consignes', {'id': groupe.id}) }}">{{groupe}}</a> <br>
            <a class="" href="{{ path('update_groupe_consignes', {'id': groupe.id}) }}">Éditer</a>
            <a class="" href="{{ path('nonCons', {'id': groupe.id}) }}">Modifier</a>
            <a class="" href="{{ path('delete_groupe_consignes', {'id': groupe.id}) }}">Delete</a> <br>

        {% endfor %}
    </main>

{% endblock %}
