{% extends 'base.html.twig' %}

{% block title %}Liste des activites{% endblock %}

{% block body %}
    <section class="container">
        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Liste des activités</span> - {{ "now"|date("d/m/Y")}}</p>
                <h1>Liste des activites</h1>
            </div>
            <a class="button" href="{{ 'activite/add' }}"><i class="fa-solid fa-plus"></i></a>
        </div>
        <article class="activite-box">
            {% for activite in activites %}
                <div class="activite-card">
                    <figure>
                        {# mettre une image de template #}
                        {% if activite.images is empty %}
                            <img src="{{ asset('assets/img/colore/colore-5.png') }}" width="50px"  height="50px" alt="image-stock"/>
                        {% else %}
                            <img src="{{ asset('assets/uploads/activite/mini/450x450-'~ activite.images[0].nom) }}" alt="{{ activite }}"/>
                        {% endif%}
                    </figure>
                    <a href="{{ path('show_activite', {'id':activite.id}) }}">{{activite.titre}}</a><br>
                </div>

            {% endfor %}
        </article>

    </section>

{% endblock %}
