{% extends 'base.html.twig' %}

{% block title %} Détail de {{activite}} {% endblock %}

{% block body %}

    <section class="show-activite-container">
        <p class="fil-ariane"><span>Activité pour <span>"eleve/user"</span></span> - {{ "now"|date("d/m/Y")}}</p>
        <h1>Détail de {{activite.titre}}</h1>
        <article class="show-activite-box">
            <div class=" show-activite-imgbox">
                <figure class="show-activite-figure">
                    <img src="http://placekitten.com/700/500" alt="test"/>
                </figure>
            </div>
            <div class="show-activite-consignes">
                <h2>Consignes</h2>
                <ul>
                    {% for consigne in activite.groupeconsignes.consignes %}
                        <li>{{ consigne.libelle }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="show-activite-competences">
                <h2>Compétences</h2>
                <div>
                {% for competences in activite.groupescompetences %}
                    <ul>
                        <li><h3>{{ competences.titre }}</h3></li>
                        {% for competence in competences.competences %}
                            <li>{{ competence.libelle }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </div>

            </div>
        </article>

    </section>

{% endblock %}