{% extends 'base.html.twig' %}

{% block title %}Liste des groupes de compétences{% endblock %}

{% block body %}
    <div class="container">
        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Liste des groupes de compétences </span> - {{ "now"|date("d/m/Y")}}</p>
                <h1>Liste des groupes de compétences</h1>
            </div>
            <a class="button" href="{{ 'groupe_competences/add' }}"><i class="fa-solid fa-plus"></i></a>
        </div>

         {% for groupe_competences in groupes_competences %}
             <a href="{{ path('show_groupe_competences', {'id': groupe_competences.id}) }}">{{groupe_competences}}</a><br>
             <a class="" href="{{ path('update_groupe_competences', {'id': groupe_competences.id}) }}">Éditer</a>
             <a class="" href="{{ path('delete_groupe_competences', {'id': groupe_competences.id}) }}">Delete</a> <br>
         {% endfor %}

    </div>

{% endblock %}