{% extends 'base.html.twig' %}

{% block title %} {{groupe_competences.titre}}{% endblock %}

{% block body %}

    <section class="container">
        <h2>{{groupe_competences.titre}}</h2>
        <hr>
        <div>
            {% for c in comp %}
                {{ c }}<br>
                <a href="{{ path('remove_comp', {'groupe_competences': groupe_competences.id ,'competence': c.id}) }}">Supprimer</a>
            {%endfor %}
        </div>
        <hr style="border-color:red">
        <div>
            {% for nc in nonComp %}
                {{ nc }}<br>
                <a  href="{{ path('add_comp', {'groupe_competences': groupe_competences.id ,'competence': nc.id}) }}">Ajouter</a>
                <hr>
            {%endfor %}
        </div>

    </section>
    {#

    #}
{% endblock %}