<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
            <div class="wrapper">
                {% if is_granted('ROLE_USER') %}
                <header>
                    {% if is_granted('ROLE_ENS') %}
                        {% include "navigation/_panelens.html.twig" %}
                    {% elseif is_granted('ROLE_PARENT') %}
                        {% include "navigation/_panelparent.html.twig" %}
                    {% elseif is_granted('ROLE_ADMIN') %}
                        {% include "navigation/_paneladmin.html.twig" %}
                    {% endif %}
                </header>
                {% endif %}
                <main>
                    <nav class="navbar">

                        <hr>
                        {% if is_granted('ROLE_ENS') %}
                            <ul>
                                <li>
                                    <a href="{{ path('app_classe') }}">Voir ma classe</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_activite') }}">Voir mes activités</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_competence') }}">Voir mes compétences</a>
                                </li>
                            </ul>
                        {% elseif is_granted('ROLE_PARENT') %}
                            <ul>
                                <li>
                                    <a href="{{ path('app_eleve') }}">voir mon enfant</a>
                                </li>
                                <li>
                                    <a href="#">Voir mon profil</a>
                                </li>
                                <li>
                                    <a href="mailto:#">Contacter la maitresse</a>
                                </li>
                            </ul>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <ul>
                                <li>
                                    <a href="{{ path('app_user') }}">Voir les utilisateurs</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_classe') }}">Voir les classes</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_eleve') }}">Voir les élèves</a>
                                </li>
                            </ul>
                        {% endif %}

                    </nav>
                    <section id="content">
                        {% block body %}
                        {% endblock %}
                        <!---message d'erreur/de success--->
                        {% include "_toasts.html.twig" %}
                    </section>
                </main>
            </div>
            <footer>
                {% block footer %}
                    &copy; Copyright 2011 by <a href="http://domain.invalid/">Ceci est le footer</a>.
                {% endblock %}
            </footer>
    </body>
</html>
