<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {#polices et icone hebergées en local #}
            <link rel="stylesheet" href="{{ asset ('fonts/inter.css') }}">
            <link rel="stylesheet" href="{{ asset ('/fonts/fontawesome/css/all.css') }} " >
            <link rel="stylesheet" href="{{ asset ('/fonts/fontawesome/css/v4-font-face.css') }} " >
            <link rel="stylesheet" href="{{ asset ('/fonts/fontawesome/css/v5-font-face.css') }} " >
            {#style #}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
            <div class="wrapper">

                {% if app.user %}
                    {% block sidebar %}
                        {% include "navigation/sidebar.html.twig" %}
                    {% endblock sidebar %}
                {% endif %}
                <main>
                    {% include "navigation/header.html.twig" %}
                    <section id="content">
                        {% block body %}
                        {% endblock %}
                        <!---message d'erreur/de success--->
                        {% include "_toasts.html.twig" %}
                    </section>
                </main>
            </div>
    </body>
</html>
