{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Tous les utilisateurs de Sophii </span> - {{ "now"|date("d/m/Y") }}</p>
                <h1>Liste des utilisateurs de Sophii</h1>
            </div>
            <a class="button" href="{{ path('app_register') }}"><i class="fa-solid fa-plus"></i></a>
        </div>

        <article class="user-box">
            {% for user in users %}
                {% if "ROLE_ADMIN" not in user.roles %}
                    <div class="card-user-unlink">
                        <a href="{{ path('show_user', {'id': user.id}) }}">
                            <figure>
                                {# mettre une image de template #}
                                {% if user.images is empty %}
                                    {% if "ROLE_ENS" in user.roles %}
                                        <img src="{{asset('assets/img/colore/colore-5.png')}}"
                                             width="200px" height="200px" alt="image colorée"/>
                                        {%else%}
                                            <img src="{{asset('assets/img/colore/colore-4.png')}}"
                                                 width="200px" height="200px" alt="image colorée"/>
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('assets/uploads/user/mini/200x200-'~ user.images[0].nom) }}"
                                         alt="{{ user }}"
                                         width="200px" height="200px"/>
                                {% endif %}
                            </figure>
                            <ul class="user-description">
                                <li>Nom : <span>{{ user.prenom }} {{ user.nom }}</span></li>
                                {% if "ROLE_ENS" in user.roles %}
                                    <li>Classe : <span>{{ user.classe }}</li>
                                {% elseif "ROLE_PARENT" in user.roles %}
                                    <li> Enfants :
                                        <span>
                                            {% for enfant in user.eleves %}
                                                {{ enfant }},
                                            {% endfor %}
                                        </span>
                                    </li>
                                {% endif %}
                            </ul>
                        </a>

                        <nav class="card-user-controls">
                            {% if "ROLE_ENS" in user.roles %}
                                <span class="pills-ens">{{ user.stringRoles }}</span>
                            {% elseif "ROLE_PARENT" in user.roles %}
                                <span class="pills-parent">{{ user.stringRoles }}</span>
                            {% endif %}
                                <ul>
                                    <li> <a class="button btn-small btn-update" href="{{ path('update_user', {'id': user.id}) }}"><i
                                                    class="fa-solid fa-pen-to-square"></i></a></li>
                                    {% if "ROLE_PARENT" in user.roles %}
                                        <li> <a class="button btn-small btn-update" href="{{ path('show_nonEnfant', {'id': user.id}) }}"><i
                                                        class="fa-solid fa-children"></i></a></li>
                                    {% endif %}

                                    <li> <a class="button btn-small btn-delete"
                                            href="{{ path('delete_user', {'id': user.id}) }}) }}"><i
                                                    class="fa-solid fa-trash"></i></a></li>
                                </ul>

                        </nav>
                    </div>
                {% endif %}
            {% endfor %}

        </article>
    </section>
{% endblock %}

{#
|| user.roles != 'ROLE_ADMIN'
#}