{% extends 'base.html.twig' %}

{% block title %}Liste des enseignants de l'école!{% endblock %}

{% block body %}

    <section class="container">
        <div class="index-controls">
            <div>
                <p class="fil-ariane"><span>Tous les enseignants de Sophii </span> - {{ "now"|date("d/m/Y") }}</p>
                <h1>Liste des enseignants de l'école</h1>
            </div>
            <a class="button" href="{{ path('app_register') }}"><i class="fa-solid fa-plus"></i></a>
        </div>

        <div>
            {% include "components/_search_data.html.twig" with {form:form} only %}
        </div>

        <article class="user-box">
            {% for enseignant in enseignants %}
                {% for role in enseignant.roles %}
                    {% if role == "ROLE_ENS" %}
                        <div class="card-user-unlink">
                            <a href="{{ path('show_user', {'id': enseignant.id}) }}">
                                <figure>
                                    {# mettre une image de template #}
                                    {% if enseignant.images is empty %}
                                        <img src="{{asset('assets/img/colore/colore-2.png')}}"
                                             width="200px" height="200px" alt="image colorée"/>
                                    {% else %}
                                        <img src="{{ asset('assets/uploads/user/mini/200x200-'~ enseignant.images[0].nom) }}"
                                             alt="{{ enseignant }}"
                                             width="200px" height="200px"/>
                                    {% endif %}
                                </figure>
                                <ul class="user-description">
                                    <li>Nom : <span>{{ enseignant.prenom }} {{ enseignant.nom }}</span></li>
                                    <li>Classe : <span>{{ enseignant.classe }}</li>
                                </ul>
                            </a>

                            <nav class="card-user-controls">
                                {% if enseignant.classe %}
                                    {% if enseignant.classe.niveau == 'grande section'%}
                                        <span class="pills-ens niveau-3">{{ enseignant.classe.niveau }}</span>
                                    {% elseif  enseignant.classe.niveau == 'moyenne section' %}
                                        <span class="pills-ens niveau-2">{{ enseignant.classe.niveau }}</span>
                                    {% elseif  enseignant.classe.niveau == 'petite section' %}
                                        <span class="pills-ens niveau-1">{{ enseignant.classe.niveau }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="pills-parent">Non renseigné</span>
                                {% endif %}
                                <ul>
                                    <li><a class="button btn-small btn-update"
                                           href="{{ path('update_ens', {'id': enseignant.id}) }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </li>
                                    <li><a class="button btn-small btn-delete"
                                           href="{{ path('delete_user', {'id': enseignant.id}) }}) }}">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </article>
    </section>
{% endblock %}

{#
<li><a class="button btn-small btn-update"
                                       href="{{ path('add_ens', {'id': enseignant.classe.id}) }}">
                                        <i class="fa-solid fa-people-roof"></i>
                                    </a>
                                </li>
#}
