{% extends 'base.html.twig' %}

{% block title %} Profil{{user}}{% endblock %}

{% block body %}

    <section class="container">
        <h1>Profil de {{user}}</h1>
        <hr>
        <div>
            <h2>{{user}}</h2>
            <p>
                nom : {{user.nom}} <br>
                prénom : {{user.prenom}} <br>
                role : {{user.stringRoles}} <br>
                mail: {{user.email}} <br>
                téléphone: {{user.tel}} <br>
            </p>
        </div>

    </section>

{% endblock %}