{% extends "base.html.twig" %}

{% block body %}
    <div class="container form-page form-large">
        <h1>Modifier vos données enseignants</h1>
        {{form_start(formUpdateEns)}}
        <div class="form-wrap">
            <div>
                {{form_row(formUpdateEns.nom)}}
                {{form_row(formUpdateEns.prenom)}}
                {{form_row(formUpdateEns.tel)}}
                {%if isAdmin %}
                {{form_row(formUpdateEns.classe)}}
                {% endif %}
            </div>
        </div>
        <div>
            {{ form_row(formUpdateEns.image) }}
            {# On affiche les image si on est en edition #}
            {% if app.request.get('_route') ==  'update_ens' %}
                {% if user.images is not empty%}
                    <h2>Image</h2>
                {% endif %}
                <div class="flex wrap">
                    {% for image in user.images %}
                        <div class="mr-2">
                            {% if user.images is empty %}
                                <img src="{{ asset('assets/img/colore/colore-2.png') }}" alt="l'image n'est pas renseignée"
                                     width="200px" height="200px"/>
                                <a class="button btn-small btn-delete" href="{{ path('delete_image', {id: image.id}) }}">Supprimer</a>
                            {% else %}
                                <img src="{{ asset('assets/uploads/user/mini/200x200-'~ image.nom) }}" alt="{{ user }}"
                                     width="200px" height="200px"/>
                                <a class="button btn-small btn-delete" href="{{ path('delete_image', {id: image.id}) }}">Supprimer</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{form_row(formUpdateEns.submit)}}
        {{form_end(formUpdateEns)}}
    </div>

{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('assets/js/image.js') }}" defer></script> #}
{% endblock %}